requests
pandas
numpy
plotly
scikit-learn
statsmodels
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gspread
orca
google-cloud-storage
google-cloud
oauth2client
autopep8
flake8
dbt-core